﻿@using Vmedia.Data
@{
    int op = ((int)TransactionType.Transfer);
}

<div ng-controller="BankController">
    <h2 class="row @ViewBag.css">Balances</h2>
    <div class="jumbotron">
        <ul ng-repeat="acc in accounts">
            <li>{{acc.currency}} {{acc.balance}}</li>
        </ul>
    </div>

    <h2 class="row @ViewBag.css">Operations</h2>
    <form name="opForm">
        <div class="jumbotron">
            Account
            <select size="1" ng-model="selectedAccountId" ng-change="onSelectedAccount(@op)" required >
                <option ng-repeat="acc in accounts" value="{{acc.Id}}" ng-bind-template="{{acc.currency}} {{acc.balance}}"
                        ng-selected="{{selectedAccountId == acc.Id}}"></option>
            </select>

            <br />
            Operation
            <select size="1" ng-model="selectedOperationId" ng-change="onSelectedOperation(@op)" required>
                <option value="@((int) TransactionType.Withdraw)" ng-selected="{{selectedOperationId == @((int) TransactionType.Withdraw)}}">Withdraw</option>
                <option value="@((int) TransactionType.Deposit)" ng-selected="{{selectedOperationId == @((int) TransactionType.Deposit)}}">Deposit</option>
                <option value="@((int) TransactionType.Transfer)" ng-selected="{{selectedOperationId == @((int) TransactionType.Transfer)}}">Transfer</option>
            </select>
            <br/>
            Amount
            <input type="text" ng-model="value" ng-pattern="/^((?:[1-9]\d*)|(?:0(?=\.)))(?:\.\d{1,2})?$/"/>
            <span ng-show="selectedOperationId == @op">
                <br/>
                To
                <select size="1" ng-model="targetClientId" ng-change="onSelectedTargetClient()">
                    <option ng-repeat="c in clients" ng-value="c.Id" ng-bind="c.login"
                            ng-selected="{{targetClientId == c.Id}}"></option>
                </select>
                #
                <select size="1" ng-model="targetCurrency" ng-change="onSelectedTargetCurrency()">
                    <option ng-repeat="b in targetClient.balances" ng-value="b.currency" ng-bind="b.currency"
                            ng-selected="{{targetCurrency == b.currency}}"></option>
                </select>
                #
                <span ng-bind="calculateValue()"></span>
            </span>
            <br/>
            <span class="btn btn-primary btn-lg" ng-click="doOperation()" ng-disabled="doDisabled(opForm, $scope)">Do</span>
        </div>
    </form>

    <h2 class="row @ViewBag.css">Transactions</h2>
    <div class="jumbotron">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>User</td>
                    <td>Amount</td>
                    <td>Operation</td>
                    <td>To user</td>
                    <td>Value</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: transactions">
                <tr ng-repeat="t in transactions">
                    <td>{{t.Id}}</td>
                    <td>{{t.user}}</td>
                    <td>{{t.currency}} {{t.amount}}</td>
                    <td>{{t.operation}}</td>
                    <td>{{t.toUser}}</td>
                    <td>{{t.value}}</td>
                    <td>{{t.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
