﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="entryApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/ang/Models/Base.js"></script>
    <script src="~/Scripts/ang/Models/AccountBalance.js"></script>
    <script src="~/Scripts/ang/Models/Transaction.js"></script>
    <script src="~/Scripts/ang/Models/Client.js"></script>

    <script src="~/Scripts/ang/controllers/LoginController.js"></script>
    <script src="~/Scripts/ang/controllers/WelcomeController.js"></script>
    <script src="~/Scripts/ang/controllers/BankController.js"></script>
    <script src="~/Scripts/ang/controllers/EntryController.js"></script>

    <script src="~/Scripts/ang/EntryApp.js"></script>
    <script src="~/Scripts/ang/AuthApp.js"></script>
    <script src="~/Scripts/ang/HttpExApp.js"></script>



    <script type="text/javascript">
        //ang.Entry.initialize();
    </script>
</head>
<body ng-controller="EntryController">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-repeat="l in links">
                    <li ng-show="visible(l, this)"><a href="{{'#'+l.path}}">{{l.title}}</a></li>
                </ul>

                @*<ul class="nav navbar-nav">
                    <li><a href="#/">Welcome</a></li>
                    <li><a href="#/bank/">Bank</a></li>
                    <li><a href="#/login/">Enter</a></li>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>
