﻿<div ng-controller="LoginController" >
    <div class="loginForm" ng-hide="authService.isLogged">
        <h3>Enter to site</h3>
        <label>Login</label><br />
        <input type="text" ng-model="login" /> <br /><br />
        <label>Password:</label><br />
        <input type="password" ng-model="password"/><br/>
        <span class="field-validation-error" ng-show="error_desc" ng-bind="error_desc"></span>
        <br />
        <input type="submit" value="Login" ng-click="doLogin(login, password)"/>
    </div>

    <div class="loginForm" ng-show="authService.isLogged">
        <input type="submit" id="submitLogout" value="Logout" ng-click="doLogout()"/>
    </div>
</div>